name: Build and Release

on:
  push:
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

permissions:
  contents: write

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            binary_name: gtu
          - os: macOS-latest
            target: aarch64-apple-darwin
            binary_name: gtu
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            binary_name: gtu.exe

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build Release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Pack Binary (Unix)
        if: matrix.os != 'windows-latest'
        run: tar -czf gtu-${{ matrix.target }}.tar.gz -C target/${{ matrix.target }}/release ${{ matrix.binary_name }}

      - name: Pack Binary (Windows)
        if: matrix.os == 'windows-latest'
        run: Compress-Archive -Path target/${{ matrix.target }}/release/${{ matrix.binary_name }} -DestinationPath gtu-${{ matrix.target }}.zip

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            gtu-${{ matrix.target }}.tar.gz
            gtu-${{ matrix.target }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
